section{
    display:flex;
}
.half-width{
    width:50%;
    padding:5%;
}
h1{
    font-size:50px;
}
.red-color{
    color:red;
}
.here-btn{
    text-decoration: none;
    background-image: linear-gradient(rgba(22, 212, 32, 0.904),rgb(175, 37, 37));
    padding:10px 40px;
}