body{
    margin:0;
    font-family: 'Kanit', sans-serif;
    font-size: 21px;;
}
.flex-continer{
    display:flex;
    background-image:url(img/top-banner.png);
    background-repeat: no-repeat;
}
section{
    margin-bottom:150px;
}
.half-width{
    width:50%;
    padding:5%;
}
.half-width img{
    width:80%;
}
h1{
    font-size:50px;
}
h2{
    font-size:43px;
}
.red-color{
    color:red;
}
.here-btn{
    text-decoration: none;
    background-image: linear-gradient(yellow,red);
    padding:10px 40px;
}
#dream-big{
    background-image:url(img/dream-bg.png);
    background-position-x: right;
}
.download-btn{
    background-image:linear-gradient(orange,blue);
    color:white;
    text-decoration:none;
    padding:10px 40px;
}
.developer-bg-img{
    background-image: url(img/exp-bg.png);
    background-position-y: 70%;
}

 .Developer-Experience{
    box-shadow:10px 10px 45px gray;
    width:40%;
    margin-left:5%;
    margin-right:5%;
    padding:7px 17px;

 }
 footer{
    text-align:center;
 }